<button kendoButton (click)="open()">Cancel</button>
<kendo-dialog
  title="Please confirm"
  *ngIf="opened"
  (close)="close()"
  [minWidth]="250"
  [width]="450"
>
  <p style="text-align: center">
    You are about to cancel this visit. Do you want to proceed?
  </p>
  <kendo-dialog-actions style="padding: 0px">
    <kendo-buttongroup width="100%">
      <button kendoButton (click)="proceed()" style="height: 50px">Yes</button>
      <button
        kendoButton
        (click)="close()"
        [primary]="true"
        style="height: 50px"
      >
        No
      </button>
    </kendo-buttongroup>
  </kendo-dialog-actions>
</kendo-dialog>
